<section class="content">
    <section class="popup">
        <div class="popup__img-wrap">
            <img class="popup__img" src="" alt="img">
            <span class="popup__close">&#10006;</span>
        </div>
    </section>
    <div class="wrapper">
        <h1 class="content__title" id="text"></h1>
        <div class="gallery">
            <div class="gallery__one">
                <div class="gallery__wrap block1">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap block2">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap block3">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap block4">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
            </div>
            <div class="gallery__two">
                <div class="gallery__wrap">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
            </div>
            <div class="gallery__three">
                <div class="gallery__wrap block5">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap block6">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap block7">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
                <div class="gallery__wrap block8">
                    <img class="img" src="https://dummyimage.com/1000x600/858085/fff.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>